.scrollComponent {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.createPostContainer {
    display: flex;
    height: 10svh;
    width: 70%;
    padding-inline: 1rem;
    margin-top: 1rem;
    gap: 1.3rem;
    background-color: rgb(255,246,246);
    border-radius: 20px;
    align-items: center;
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    /* max-width: 80%; */
}

.uploadButton {
    position: absolute;
    right: 0%;
    bottom: -45%;
    color: white;
    background-color: #216fec ;
    border-radius: 10px;
    padding-inline: 1.2rem;
    padding-block: 0.6rem;
    cursor: pointer;
}

.userProfile {
    border-radius: 50%;
    height: 60%;
    width: fit-content;
}

.createPostContainer textarea {
    width: 100%;
}

.Fab {
    background-color: #2563EB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.Fab > svg {
    width: fit-content;
    height: 35px;
    cursor: pointer;
    color: white;
}

.textContent {
    width: 80%;
    height: 70%;
    border: 1px solid silver;
    border-radius: 10px;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    outline: none;
    resize: none;
}

.postsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singleCard {
    width: 70%;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid rgb(179,179,179);
}

.singleCard_profileContainer {
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    padding: 1.2rem;
    padding-right: 3.4rem;
}

.singleCard_profileContainer > img {
    width: 15%;
    border-radius: 50%;
}

.singleCard_image {
    width: 100%;
    padding-top: 0.6rem;
    height: fit-content;
    overflow: hidden;
}

.singleCard_image > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

