.allUserProfile {
    max-width: 80%;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.userCard {
    display: flex;
    gap: 1.2rem;
    padding: 1.3rem;
    align-items: center;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.2rem;
    cursor: pointer;
}

.userCard_image {
    width: 10%;
    border-radius: 50%;
}
