.homeContainer {
    display: flex;
    margin-top: 1rem;
}

.homeContainer > div:nth-child(odd) {
    flex: 0.2;
}

.homeContainer > div:nth-child(even) {
    flex: 0.6;
}

.homeContainer_leftBar {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    align-items: flex-start;
    justify-content: start;
    border-right: 1px solid silver ;
}

.sidebarOption {
    display: flex;
    align-items: start;
    font-size: 1.3rem;
    gap: 1.3rem;
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.2s;
}

.sidebarOption:hover {
    transform: scale(1.03);
}

.sidebarOption > svg {
    min-width: fit-content;
    height: 1.2em;
}

.homeContainer_extraContainer {
    border-left: 1px solid silver;
    padding-left: 1.2rem;
}

.homeContainer_feedContainer {
    padding-inline: 1rem;
}