.container {
    padding: 1.3rem;
    background-color: rgb(248, 245, 245);
    border-radius: 20px;
}

.backDropContainer {
    width: 100%;
    height: 30vh;
    background: url("https://content.pexels.com/images/canva/ai-generated-ad/off-theme/forest-full.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
        
}

.backDropContainer img {
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    bottom: -30%;
    left: 8%;
    text-align: center;
    z-index: 1000;
}

.profileContainer_details {
    padding-top: 6.6rem;
}


.card {
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.card_profileContainer {
    display: flex;
}

.card_profileContainer > img {
    width: 3.4rem;
    height: auto;
    height: 3.4rem;
    object-fit: cover;
}

.connectBtn {
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    background-color: rgba(3,93,183,0.905);
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.connectedButton {
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    border: 1px solid ;
    outline: none;
    color: rgba(3, 93, 183, 0.905);
    border-radius: 10px;
    cursor: pointer;
}